<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Updated_Login">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.OrderArt.Functionality.Implementation.Login_Updated"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Updated_Login -->
